freunde{
    margin: 10px;
    width: 9%;
    height: max-content;
    flex-wrap: nowrap;
}

mail{
    width: 9%;
    height: max-content;
}

.content{
    margin-left: 10px;
    margin-right: 10px;
    width: 60%;
    height: fit-content;
}

freunde > hr,mail > hr{
    height: 2px;
    background-color: black;
}

ul{
    padding: 10px;
}

freunde.box,mail.box{
    margin-top: 10px;
}
mail > ul >li{
    padding-left: 4px;
}