/*Flex debug classes*/
.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

body{
    /*background-color: #4c5870;*/
    background-color: #3d3d3b;
}

nav {
    background-color: #3d3d3b;
    /*opacity: 0.8;*/
    padding: 20px;
    display: flex;
    text-align: center;
    height: 70px;
    width: 100%;
    margin-bottom: 10px;
    
}

.navtext{
    color: white;
    font-size: large;
}

a{
    color: #4c5870;
}

#currentpage{
    text-decoration: underline;
}

.box{
    background-color: #ebedec;
    text-align: center;
    margin: auto;
    border: 2px solid black;
}

.faden{
    min-width: 0;
    width: 90%;
    height: 120px;
    color: #3d3d3bff;
}

.fadentitel{
    width: auto;
    height: 40px;
    border-style: none;
    border-bottom: 2px solid black;
    text-align: left;
    font-weight: bold;
}

.fadeninhalt{
    text-align: left;
    padding: 10px;
}

.fadenbox{
    padding: 10px;
}

#searchbar{
    background-color: white;
}

banner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
banner > img{
    max-height: 200px;
}

#loginbox{
    padding: 0.2%;
    color: black;
}

.impressum{
    width: 90%;
    margin-bottom: 10px;
}

.btn-primary.btn{
    background-color: white;
    height: 25px;
    font-size: small;
    margin-bottom: 5px;
    text-align: center;
    line-height: 0px;
    border-color: rgb(61, 59, 59);
    /*padding-bottom: 20px;*/
}